* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Merri';
    src: url(fonts/merriweather.ttf) format('truetype');
}

body{
    font-family: 'Merri';
}

h2{
    font-family: 'Merri';
    color: black; 
    text-align: left;
}

h1{
    font-family: 'Merri';
    color: white; 
    text-align: center;
}

p{
    font-family: 'Merri';
    color: black; 
    text-align: left;
    font-size: large;
    transition: 0.2s ease-in-out;
}

p:hover{
    transform: scale(1.03); 
}

img.hover{
    color: gray; 
}

nav ul {
    margin: 0;
    padding-left: 45px;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    gap: 10px;
  }
  
  /* Style the link like a button */
  nav li a {
    border-radius: 4px;
    background-color: darkslategray;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 16px;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  
  /* Animate the span inside the link */
  nav li a span {
    position: relative;
    transition: 0.3s;
  }
  
  nav li a span:after {
    content: '\00bb'; /* » */
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.3s;
  }
  
  nav li a:hover span {
    padding-right: 20px;
  }
  
  nav li a:hover span:after {
    opacity: 1;
    right: 0;
  }

li a{
    display: block; 
    color: white; 
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}



.active{
    background-color: lightgray; 
    color: black; 
}

a{
    padding: 12px; 
    /*background-color:; */
}






/* Columns - setting up  */
.row{
    display: flex; 
    align-items: center;
    gap: 15px; 
    padding: 45px 45px; 
    flex-wrap: wrap;
}
.column{
    flex: 1; 
    max-width: 600px;
    margin: 0 auto; 
    gap: 1rem;
    padding: 0 20px;
}







/* Extending the color of taskbar */
nav{
    background-color: darkslategray;
    padding-top: 0;
}

ul {
    margin: 0;
    padding-left: 45px;
    overflow: hidden;
    list-style-type: none;
  }






  /* logo placement */
  .logo-bar{
    background-color: darkslategray;
    padding: 10px 45px; 
    text-align: left; 
  }
.logo-img{
    width: 110px;
    height: auto; 
    display: inline-block; 
    transition: transofmr 0.2s ease-in-out;
     
}
.logo-img:hover{
    transform: scale(1.10); 
    cursor:pointer;
}




/* Portrait image */
.portrait-img{
    border-radius: 20px;
    margin: 20px 20px 20px 45px;
    transition: transform 0.2s ease-in-out; 
    
}
.portrait-img:hover{
    transform: scale(1.02); 
    cursor: pointer; 
}

.column:nth-child(2) {
    margin-left: -160px; /* adjust until it feels right */
  }


.message{
    padding: 50px 50px; 
}